@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
body {
  margin-top: 20px;
}
.fa-fw {
  width: 2em;
}

.adl {
  display: flex;
  margin-bottom: 5px;
}

.adl div {
  margin-left: 5px;
  width: 500px;
}

.btn-unlock,
.btn-lock {
  border-radius: 5p;
}

.green {
  background-color: rgba(0, 128, 0, 0.55);
}

.red {
  background-color: red;
}

.hide {
  display: none;
}
